* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  p{
    color: $color;
    padding: $padding;
    background-color: $background;
    font-size: $font;
    margin-top: 50px;
    
};  