
ul{  
    display:flex;
    justify-content:space-between;
    flex-direction:row ;
    justify-content:space-between; 
    border: 1px solid red;
    align-items: center;
    padding: 10px;
    li{
     list-style: none;
    }a{
        color: rgb(0, 0, 0);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        text-transform: uppercase;
}a:hover{
        color: gray;
    }

}